* {
    margin: 0;
    padding: 0;
}

.navcolor {
    background-color: rgb(9, 188, 219);
}

#addp a {
    font-family: cursive;
    text-decoration: none;
color: white;
font-size: 18px;
}


#addp  a:hover {
    color: black;
}
#contact a:hover {
color: black;
}
#home a:hover {
    color: black;
}
