<footer class="text-center text-whiter navcolor" >

  <div class="container p-2">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
    </section>
   
    <div class="text-center" style="background-color: rgb(11, 96, 111);color: white; font-family: cursive;
  text-decoration: none;
font-size: 18px;">Copyright
    © 2021-2022 Coding By Yash
<!-- Copyright -->

  </div>
  </div>
</footer>
</body>
</html>