<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding - Blogs</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/signup.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />
  
</head>

<body>

    <nav class="navbar navbar-default navcolor">
        <div class="container-fluid">
            <div class="navber-header">
                <p class="navbar-brand" style="font-family: 'Times New Roman', Times, serif;
    color: white; font-weight: bold;">Daily-News</p>
            </div>
            <ul class="nav navbar-nav navbar-right ulcss">
                <li id="signup">
                    <a href="/signup">SignUp</a>
                </li>
                <li id="blogs">
                    <a href="/blogs">Blogs</a>
                </li>
                <li id="contact">
                    <a href="/contact">Contact Us</a>
                </li>
                <li id="home">
                    <a href="/">Home </a>
                </li>
                

            </ul>
        </div>

    </nav>



</body>

</html>