<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding - Blogs</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />
  
</head>

<body>
               
    <nav class="navbar navbar-default navcolor">
        <div class="container-fluid">
            <div class="navber-header">
                <p class="navbar-brand" style="font-family: 'Times New Roman', Times, serif;
    color: rgb(205, 117, 222); font-weight:bold;
    font-size: x-large;
    margin-right: 80px;">Coding By Yash</p>
   

    <p class="navbar-brand" id="addp" style=" color: white; font-weight: bold;
    font-family: cursive;
    text-decoration: none;
color: white;
font-size: 18px;">
        <a href="/">Home</a>
    </p>
    <p class="navbar-brand" id="addp" style="
    color: white; font-weight: bold;
    font-family: cursive;
    text-decoration: none;
color: white;
font-size: 18px;">
        <a href="/contact">Contact</a>
    </p>
    <p class="navbar-brand" id="addp" style="
    color: white; font-weight: bold;
    font-family: cursive;
    text-decoration: none;
color: white;
font-size: 18px;">
        <a href="/about">About</a>
    </p>
            </div>
            <ul class="nav navbar-nav ">
                <li id="addp">
                    <a href="/addp">Add Post</a>
                </li>
            </ul>
        </div>

    </nav>

