<!-- header -->
<%- include("headfoot/header"); -%>

<div class="text-center t-2 p-2">
    <img class="mb-4" src="img/aboutpic.webp" alt="" width="60%" height="35%" style=" border-radius: 5px ;">
</div>

<!-- footer -->
<%- include("headfoot/footer"); -%>
