<!-- header -->
<%- include("headfoot/header"); -%>

<div class="text-center t-4 p-5" >
    <!-- <img src="..." class="img-fluid" alt="Responsive image"> -->
    <img class="mb-4" src="img/about-us.webp" alt="" width="80%" height="35%" style=" border-radius: 5px ;box-shadow: 10px 10px #bcb7b7;">
</div>


<p class="t-4 p-5" style="font-family: 'Times New Roman', Times, serif; color: black;">
    This is coding.blog

AI- driven personalised, curation service for quality programming content.

A platform for developers, that provides you with a personalised curation service on programming topics. Use it to write and read quality articles on programming. Not for content-marketing disguised as programming tutorials. Not for advertisement blended with sincerely interesting pieces. Quality. Articles. About. Coding.
</p>


<!-- footer -->
<%- include("headfoot/footer"); -%>