<!-- header -->
<%- include("headfoot/header"); -%>

  
<form  action="/contact" method="post" class="form-signin">
  <div class="text-center">
    <img class="mb-4" src="img/Yash.png" alt="" width="72" height="72" style=" border-radius: 35px ;">
</div>
    <h1 class="h3 mb-3 font-weight-normal text-center" style="font-family: cursive;">SignUP To C.B.Y</h1>
    <input type="text" name="namefst" class="form-control top" placeholder="Enter your first name" equired autofocus>
    <input type="text" name="namelst" class="form-control middle" placeholder="Enter your last name" equired>
    <input type="email" name="gmail" class="form-control bottom" placeholder="Email address" required>
  
    <button class="btn btn-lg  btn-block"style="background-color: rgb(9, 188, 219);color: white;" type="submit">Sign Up</button>
  </form>
  <p class="text-center" style="font-family: 'Times New Roman', Times, serif; color: rgb(224, 164, 11);">
    Your response has been submitted. Soon you will get the related response to your query from our team.</p>


<!-- footer -->
<%- include("headfoot/footer"); -%>