<!-- header -->
<%- include("headfoot/header"); -%>


  <h1>
    home
  </h1>


  <% postarray.forEach(i=> { %>
    <h2 class="t-2 p-2" style="font-family: 'Times New Roman', Times, serif;">
      <%= i.tit %>
    </h2>
    <p class="t-2 p-2" style="font-family: 'Times New Roman', Times, serif;">
      <%= i.para %>
    </p>
    <% }); %>
    

      <!-- footer -->
      <%- include("headfoot/footer"); -%>