<!-- header -->
<%- include("headfoot/header"); -%>

<div class="container-fluid t-4 p-4">
<h2 class="t-2 p-2" style="font-family: 'Times New Roman', Times, serif; color: rgb(243, 16, 61);"> <%= tittle %> </h2>
<p  style="font-family: 'Times New Roman', Times, serif; color: rgb(235, 182, 48);"> <%= content %> </p>
</div>

<!-- footer -->
<%- include("headfoot/footer"); -%>