<!-- header -->
<%- include("headfoot/header"); -%>

<div class="container-fluid t-4 p-4">
<h2 class="t-2 p-2" style="font-family: 'Times New Roman', Times, serif;  font-weight:bold; color: rgb(243, 16, 61);"> <%= tittle %> </h2>
<p  style="font-family: 'Times New Roman', Times, serif; color: black;"> <%= content %> </p>
</div>

<!-- footer -->
<footer class="text-center text-white navcolor" style="
  position:fixed;
  bottom:0;
  left:0;
  width: 100%;
 "  >

    <div class="container p-2">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
      </section>
     
      <div class="text-center" style="background-color:  rgb(11, 96, 111); font-family: cursive;
    text-decoration: none;
font-size: 18px;">Copyright
      © 2021-2022 Coding By Yash
 <!-- Copyright -->
  
    </div>
    </div>
  </footer>