<!-- header -->
<%- include("headfoot/header"); -%>

  
<form  action="/signup" method="post" class="form-signin">
    <img class="mb-4" src="img/Yash.png" alt="" width="72" height="72" style=" border-radius: 35px  ;">
    <h1 class="h3 mb-3 font-weight-normal" style="font-family: cursive;">SignUP To Daily-News</h1>
    <input type="text" name="namefst" class="form-control top" placeholder="Enter your first name" equired autofocus>
    <input type="text" name="namelst" class="form-control middle" placeholder="Enter your last name" equired>
    <input type="email" name="gmail" class="form-control bottom" placeholder="Email address" required>
  
    <button class="btn btn-lg  btn-block"style="background-color: rgb(9, 188, 219);color: white;" type="submit">Sign Up</button>
  </form>
  


<!-- footer -->
<%- include("headfoot/footer"); -%>